body {
    background-color: #bbbbbb;
}
img {
    width:100%;
}
.titulo-principal{
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
}
h1,p {
    text-align: center;
}
em {
    color: #911111;
}
#missao {
    font-size: 25px;
}
.itens{
    font-style: italic;
}

